<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="XmlNotepad" Language="1033" Version="2.9.0.12" Manufacturer="Lovett Software" UpgradeCode="14C1B5E8-3198-4AF2-B4BC-351017A109D3">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade Schedule="afterInstallFinalize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="LovettSoftware" Name="LovettSoftware">
          <Directory Id="APPINSTALLROOTDIR" Name="XmlNotepad">
            <Directory Id="Help" Name="Help" />
            <Directory Id="samples" Name="Samples" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="CompanyProgramsFolder" Name="Lovett Software">
          <Directory Id="ApplicationProgramsFolder" Name="XML Notepad" />
        </Directory>
      </Directory>
    </Directory>
    <!-- Step 2: Add files to your installer package -->
    <DirectoryRef Id="APPINSTALLROOTDIR" FileSource="$(var.Application.TargetDir)">
      <Component Id="XmlNotepad.exe" Guid="37F5A68E-3507-44A6-BA7D-DC88FA074E88">
        <File Id="XmlNotepad.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="XmlNotepad.exe.manifest" Guid="C98A3BF4-D07C-4D1A-BA28-6D413D4A61C9">
        <File Id="XmlNotepad.exe.manifest" KeyPath="yes" />
      </Component>
      <Component Id="XmlNotepad.exe.config" Guid="C4957B41-B536-42C3-B79C-955EA99CD558">
        <File Id="XmlNotepad.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="Microsoft.XmlNotepad.dll" Guid="5F934F76-70C8-4BFE-AA5A-05DC5AAB838C">
        <File Id="Microsoft.XmlNotepad.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="XmlNotepad.Model.dll" Guid="b3f2fe58-5137-4646-bd24-191e2e73f5d3">
        <File Id="XmlNotepad.Model.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Microsoft.mshtml.dll" Guid="60F2839E-6DC2-4A7E-9B00-AC277FF03E80">
        <File Id="Microsoft.mshtml.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="XmlDiffPatch.dll" Guid="4EE562B3-FF32-4107-87F3-C843D44B26C0">
        <File Id="XmlDiffPatch.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="XmlDiffPatch.View.dll" Guid="464A81EC-822A-42E1-9353-DB0AF3F5C5F9">
        <File Id="XmlDiffPatch.View.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="FontBuilder.dll" Guid="0F3EDCEC-529C-489F-9717-A0D3A06A33A9">
        <File Id="FontBuilder.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="SimpleGoogleAnalytics.dll" Guid="5ada2db2-67f9-486b-b7f3-e5dc851b6ff2">
        <File Id="SimpleGoogleAnalytics.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="SgmlReaderDll.dll" Guid="70c0cd62-a6e5-4da4-9336-3fcef1bfb0d1">
        <File Id="SgmlReaderDll.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="D7A433F2-C782-4BF0-AD2C-1BA25B82F15D">
        <File Id="Newtonsoft.Json.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="System.Security.Principal.Windows.dll" Guid="65319865-B926-422C-93A3-C1938A0DEAC7">
        <File Id="System.Security.Principal.Windows.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Microsoft.Web.WebView2.Core.dll" Guid="e2a18224-f75d-4a1b-ba41-10b2700f5db6">
        <File Id="Microsoft.Web.WebView2.Core.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Microsoft.Web.WebView2.WinForms.dll" Guid="68aa124d-e537-4671-8d65-7a222b0bfe3a">
        <File Id="Microsoft.Web.WebView2.WinForms.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Directory Id="runtimes" Name="runtimes" />
      <Directory Id="Resources" Name="Resources" />
    </DirectoryRef>
    <DirectoryRef Id="Resources" FileSource="$(var.Application.TargetDir)\Resources">
      <Component Id="XmlNotepad.template.settings" Guid="ea05b2b8-9442-4dfd-a98e-dd80dfe3b449">
        <File Id="XmlNotepad.template.settings" KeyPath="yes" Checksum="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="runtimes" FileSource="$(var.Application.TargetDir)\runtimes">
      <Directory Id="winarm64" Name="win-arm64" />
      <Directory Id="winx64" Name="win-x64" />
      <Directory Id="winx86" Name="win-x86" />
    </DirectoryRef>
    <DirectoryRef Id="winarm64" FileSource="$(var.Application.TargetDir)\runtimes\win-arm64">
      <Directory Id="arm64native" Name="native" />
    </DirectoryRef>
    <DirectoryRef Id="winx86" FileSource="$(var.Application.TargetDir)\runtimes\win-x86">
      <Directory Id="x86native" Name="native" />
    </DirectoryRef>
    <DirectoryRef Id="winx64" FileSource="$(var.Application.TargetDir)\runtimes\win-x64">
      <Directory Id="x64native" Name="native" />
    </DirectoryRef>
    <DirectoryRef Id="x64native" FileSource="$(var.Application.TargetDir)\runtimes\win-x64\native">
      <Component Id="WebView2Loader.x64.dll" Guid="AF738744-F741-4366-852C-6ED8E8A09CCA">
        <File Id="WebView2Loader.x64.dll" KeyPath="yes" Name="WebView2Loader.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="x86native" FileSource="$(var.Application.TargetDir)\runtimes\win-x86\native">
      <Component Id="WebView2Loader.x86.dll" Guid="3D84CFE6-EF8E-4E8D-8788-8F673AA2812D">
        <File Id="WebView2Loader.x86.dll" KeyPath="yes" Name="WebView2Loader.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="arm64native" FileSource="$(var.Application.TargetDir)\runtimes\win-arm64\native">
      <Component Id="WebView2Loader.arm64.dll" Guid="A3F09BD7-F075-47F0-81C3-7273E106CF53">
        <File Id="WebView2Loader.arm64.dll" KeyPath="yes" Name="WebView2Loader.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="samples" FileSource="$(var.SolutionDir)\drop\samples">
      <Component Id="basket.xml" Guid="f6f6a570-5783-42b9-9da4-26c059e7dc4e">
        <File Id="basket.xml" KeyPath="yes" />
      </Component>
      <Component Id="basket.xsd" Guid="f8fb7c3c-e70a-48e6-aceb-44b44f9bc4dd">
        <File Id="basket.xsd" KeyPath="yes" />
      </Component>
      <Component Id="Employee.xml" Guid="12a3d24f-9e32-4bba-940c-a194ccb281fe">
        <File Id="Employee.xml" KeyPath="yes" />
      </Component>
      <Component Id="Employee.xsd" Guid="fc1231c1-9662-4312-957b-0a8362ed56ef">
        <File Id="Employee.xsd" KeyPath="yes" />
      </Component>
      <Component Id="Hamlet.xml" Guid="f1b3d847-070b-4711-92ca-a7e6470f5679">
        <File Id="Hamlet.xml" KeyPath="yes" />
      </Component>
      <Component Id="rss.xml" Guid="0950015c-5651-419b-a05e-53b91bbde32f">
        <File Id="rss.xml" KeyPath="yes" />
      </Component>
      <Component Id="rsspretty.xsl" Guid="b9298d1c-8ac6-4ebb-872c-d7e7e2ed8cf8">
        <File Id="rsspretty.xsl" KeyPath="yes" />
      </Component>
      <Component Id="willy.xsl" Guid="bece5b74-a8f2-4bfb-a146-6647170f014a">
        <File Id="willy.xsl" KeyPath="yes" />
      </Component>
      <Component Id="Employee.htm" Guid="6da8da4a-e901-46cb-aea3-00526cd90e34">
        <File Id="Employee.htm" KeyPath="yes" />
      </Component>
      <Component Id="rss.htm" Guid="891507ec-1d32-445d-bd70-856b980cfa96">
        <File Id="rss.htm" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <!-- shortcut in start menu -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="01D93FF2-E181-4C0A-B0FC-D85B413DDB8D">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="XML Notepad" Description="Simple XML Editor" Target="[#XmlNotepad.exe]" WorkingDirectory="APPINSTALLROOTDIR" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RemoveFolder Id="RemoveCompanyProgramsFolder" Directory="CompanyProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\LovettSoftware\XmlNotepad" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <!-- Step 3: Tell WiX to install the files -->
    <Feature Id="ProductFeature" Title="XmlNotepad" Level="1">
      <ComponentRef Id="XmlNotepad.exe" />
      <ComponentRef Id="XmlNotepad.exe.manifest" />
      <ComponentRef Id="XmlNotepad.exe.config" />
      <ComponentRef Id="Microsoft.XmlNotepad.dll" />
      <ComponentRef Id="XmlNotepad.Model.dll" />
      <ComponentRef Id="Microsoft.mshtml.dll" />
      <ComponentRef Id="XmlDiffPatch.dll" />
      <ComponentRef Id="XmlDiffPatch.View.dll" />
      <ComponentRef Id="FontBuilder.dll" />
      <ComponentRef Id="SimpleGoogleAnalytics.dll" />
      <ComponentRef Id="SgmlReaderDll.dll" />
      <ComponentRef Id="Newtonsoft.Json.dll" />
      <ComponentRef Id="System.Security.Principal.Windows.dll" />
      <ComponentRef Id="Microsoft.Web.WebView2.Core.dll" />
      <ComponentRef Id="Microsoft.Web.WebView2.WinForms.dll" />
      <ComponentRef Id="XmlNotepad.template.settings" />
      <ComponentRef Id="WebView2Loader.x64.dll" />
      <ComponentRef Id="WebView2Loader.x86.dll" />
      <ComponentRef Id="WebView2Loader.arm64.dll" />
      <ComponentRef Id="basket.xml" />
      <ComponentRef Id="basket.xsd" />
      <ComponentRef Id="Employee.xml" />
      <ComponentRef Id="Employee.xsd" />
      <ComponentRef Id="Hamlet.xml" />
      <ComponentRef Id="rss.xml" />
      <ComponentRef Id="rsspretty.xsl" />
      <ComponentRef Id="willy.xsl" />
      <ComponentRef Id="Employee.htm" />
      <ComponentRef Id="rss.htm" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.Application.TargetDir)\license.rtf" />
    <!-- Step 2: Add UI to your installer / Step 4: Trigger the custom action -->
    <UI>
      <Property Id="WIXUI_INSTALLDIR" Value="APPINSTALLROOTDIR" />
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch XML Notepad" />
    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#XmlNotepad.exe]" />
    <Property Id="REINSTALLMODE" Value="amus" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPINSTALLROOTDIR]" After="CostFinalize" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
  </Product>
</Wix>