
body, div {
    margin: 0;
    padding: 0;
    font-family:Calibri (Body);
    font-size:11pt;
}

body {
    /* Disable scrollbars and ensure that the body fills the window */
    width: 100%;
    height: 100%;
}
table {
    min-width: 100%;
    table-layout: fixed;
}

#header {
    /* Provide scrollbars if needed and fix the header dimensions */
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 40px;
    padding: 10px;
    background: #333333;
    color:#CCE1E1;
    top:0;
    left:0;
    z-index:1;
}

.match { 
    color:black;
}

.ignore {
    color: #CCE1E1;
}

.add {
    background-color: #dcffc6;
}

.moveto {
    background-color: #9be6fe;
    color: navy;
}

.remove {
    background-color: #ffcaca;
}

.movefrom {
    background-color: #d1e4ea;
    color: navy;
}

.change {
    background-color: #ffdb90;
}

.code {
    font-family: Courier New;
    font-size: 12px;
    word-break:break-word;
}


#main {
    /* Provide scrollbars if needed, position below header, and derive height from top/bottom */
    overflow-y: scroll;
    //position: absolute;
    width: 100%;
    margin-top: 60px;
   // bottom: 0;
    padding: 10px;
}
