<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LovettSoftware.XmlDiff" version="1.0.8" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="7.0.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Web.WebView2" version="1.0.1938.49" targetFramework="net472" />
</packages>