<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LovettSoftware.XmlDiff" version="1.1.0" targetFramework="net472" requireReinstallation="true" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="7.0.4" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Web.WebView2" version="1.0.2151.40" targetFramework="net48" />
</packages>